/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

/* css for the side bar */
.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: #0ea5e9;
    display: grid;
    font-weight: bold;
    color: white;
    grid-template-rows: repeat(15, 50px);
    padding-left: 10px;
    padding-top: 10px;
}

/* css for the dashboard section */
.sidebar>.top-cell {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 15px;
    grid-row: span 2;
    align-self: start;
    align-items: center;
    font-size: 30px;
}

.sidebar>div>img {
    height: 30px;
    width: auto;
}

.sidebar>.top-cell>img {
    height: 45px;
    width: auto;
}

/* css from home onwards */

.sidebar>.cell {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 15px;
    align-self: start;
    align-items: center;
    font-size: 20px;
    padding-left: 5px;
}

#community-cell {
    grid-row: span 2;
}

/* css for the header */

.header {
    grid-column: 2/6;
    grid-row: 1/2;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px 50px 5px 10px;
}

.top-half {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.top-half img {
    height: 30px;
    width: auto;
}

.first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-part img {
    margin: 20px;
}

.first-part input {
    border-radius: 8px;
    border: none;
    background-color: #e2e8f0;
    width: 750px;
    height: 20px;
}

.bottom-half {
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.bottom-half img {
    height: 100px;
    width: auto;
}

.name-holder {
    font-size: 30px;
}

.second-part {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 30px;
}

.bottom-half .second-part {
    display: flex;
    align-items: center;
    gap: 30px;
}

.second-part button {
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color: #0ea5e9;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.second-part button+button {
    margin-left: 20px;
    /* Add margin to the left of every button except the first */
}

/* css for the main content */

.main-content {
    grid-column: 2/6;
    grid-row: 2/6;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-height: 100%;
}

.projects {
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.news-column {
    grid-column: 8/11;
    display: grid;
    height:100vw;
    grid-template-rows: 1fr 1fr;
}

.news {
    margin-top: 30px;
    margin-left: 15px;
    font-weight: bold;
    font-size: larger;
}

.announcement-container {
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    width: 80%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.para>p {
    font-size: small;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 15px;
}

.para>p>strong {
    font-weight: bold;
    font-size: medium;
}

/* 
.trending-container {
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    width: 80%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-container img{
    width:30px;
    height:auto;
} */